@model EMGMSA.Models.Car


<div class="modal-header">
    <h5 class="modal-title">Supprimer la voiture</h5>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <h3>Êtes-vous sûr de vouloir supprimer cette voiture ?</h3>
    <div>
        <h4>Car</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">Marque</dt>
            <dd class="col-sm-10">@Model.Brand</dd>
            <dt class="col-sm-2">Modèle</dt>
            <dd class="col-sm-10">@Model.Model</dd>
            <dt class="col-sm-2">Année</dt>
            <dd class="col-sm-10">@Model.Year</dd>
            <dt class="col-sm-2">Prix</dt>
            <dd class="col-sm-10">@Model.Price</dd>
        </dl>
    </div>
</div>
<div class="modal-footer">
    <form action="Cars/Delete" method="post" >
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit" class="btn btn-danger">Supprimer</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
    </form>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
