@model IEnumerable<EMGMSA.Models.Car>
@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Liste des voitures";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped">
    <thead class="table-secondary">
        <tr>
            <th>Marque</th>
            <th>Modèle</th>
            <th>Prix</th>
            <th>Disponibilité</th>
            <th>Description</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Brand</td>
                <td>@car.Model</td>
                <td>@car.Price</td>
                <td>@(car.IsAvailable ? "Disponible" : "Non disponible")</td>
                <td>@car.Description</td>
                <td>
                    @if (!string.IsNullOrEmpty(car.PhotoUrl))
                    {
                        <img src="@car.PhotoUrl" alt="@car.Model" style="width: 100px;" />
                    }

                </td>


                <td>
                    <a href="@Url.Action("Edit", "Cars", new { id = car.Id })" class="btn btn-warning btn-sm">Modifier</a>
                    <a href="javascript:void(0);" class="btn btn-danger btn-sm"
                        onclick="showDeleteModal(@car.Id)">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!--Modal-->

<a href="@Url.Action("Create", "Cars")" class="btn btn-primary">Ajouter une voiture</a>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="deleteModalContent">
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function showDeleteModal(id) {
            $.get('@Url.Action("Delete", "Cars")', { id: id }, function (data) {
                $('#deleteModalContent').html(data);
                $('#deleteModal').modal('show');
            });
        }
    </script>
}